@font-face {
    font-family: 'dengxianlight';
    src: url('./dengl-webfont.woff') format('woff'), url('./dengl-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.den {
    font-family: dengxianlight, Arial, sans-serif;
}