@font-face {
    font-family: 'GoJuOn';
    src: url('./GoJuOn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.goj {
    display: inline-block;
    font: normal normal normal 14px/1 GoJuOn;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* makes the font 33% larger relative to the icon container */

.chi-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.chi-2x {
    font-size: 2em;
}

.chi-3x {
    font-size: 3em;
}

.chi-4x {
    font-size: 4em;
}

.chi-5x {
    font-size: 5em;
}

.chi-fw {
    width: 1.28571429em;
    text-align: center;
}

.chi-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none;
}

.chi-ul>li {
    position: relative;
}

.chi-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: 0.14285714em;
    text-align: center;
}

.chi-li.chi-lg {
    left: -1.85714286em;
}

.chi-border {
    padding: .2em .25em .15em;
    border: solid 0.08em #eeeeee;
    border-radius: .1em;
}

.chi-pull-left {
    float: left;
}

.chi-pull-right {
    float: right;
}

.chi.chi-pull-left {
    margin-right: .3em;
}

.chi.chi-pull-right {
    margin-left: .3em;
}


/* Deprecated as of 4.4.0 */

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.chi.pull-left {
    margin-right: .3em;
}

.chi.pull-right {
    margin-left: .3em;
}

.chi-spin {
    -webkit-animation: chi-spin 2s infinite linear;
    animation: chi-spin 2s infinite linear;
}

.chi-pulse {
    -webkit-animation: chi-spin 1s infinite steps(8);
    animation: chi-spin 1s infinite steps(8);
}

@-webkit-keyframes chi-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes chi-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.chi-rotate-90 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.chi-rotate-180 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.chi-rotate-270 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.chi-flip-horizontal {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.chi-flip-vertical {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

:root .chi-rotate-90,
:root .chi-rotate-180,
:root .chi-rotate-270,
:root .chi-flip-horizontal,
:root .chi-flip-vertical {
    filter: none;
}

.chi-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

.chi-stack-1x,
.chi-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.chi-stack-1x {
    line-height: inherit;
}

.chi-stack-2x {
    font-size: 2em;
}

.chi-inverse {
    color: #ffffff;
}


/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */

.chi-glass:before {
    content: "\f000";
}

.chi-music:before {
    content: "\f001";
}

.chi-search:before {
    content: "\f002";
}

.chi-envelope-o:before {
    content: "\f003";
}

.chi-heart:before {
    content: "\f004";
}

.chi-star:before {
    content: "\f005";
}

.chi-star-o:before {
    content: "\f006";
}

.chi-user:before {
    content: "\f007";
}

.chi-film:before {
    content: "\f008";
}

.chi-th-large:before {
    content: "\f009";
}

.chi-th:before {
    content: "\f00a";
}

.chi-th-list:before {
    content: "\f00b";
}

.chi-check:before {
    content: "\f00c";
}

.chi-remove:before,
.chi-close:before,
.chi-times:before {
    content: "\f00d";
}

.chi-search-plus:before {
    content: "\f00e";
}

.chi-search-minus:before {
    content: "\f010";
}

.chi-power-off:before {
    content: "\f011";
}

.chi-signal:before {
    content: "\f012";
}

.chi-gear:before,
.chi-cog:before {
    content: "\f013";
}

.chi-trash-o:before {
    content: "\f014";
}

.chi-home:before {
    content: "\f015";
}

.chi-file-o:before {
    content: "\f016";
}

.chi-clock-o:before {
    content: "\f017";
}

.chi-road:before {
    content: "\f018";
}

.chi-download:before {
    content: "\f019";
}

.chi-arrow-circle-o-down:before {
    content: "\f01a";
}

.chi-arrow-circle-o-up:before {
    content: "\f01b";
}

.chi-inbox:before {
    content: "\f01c";
}

.chi-play-circle-o:before {
    content: "\f01d";
}

.chi-rotate-right:before,
.chi-repeat:before {
    content: "\f01e";
}

.chi-refresh:before {
    content: "\f021";
}

.chi-list-alt:before {
    content: "\f022";
}

.chi-lock:before {
    content: "\f023";
}

.chi-flag:before {
    content: "\f024";
}

.chi-headphones:before {
    content: "\f025";
}

.chi-volume-off:before {
    content: "\f026";
}

.chi-volume-down:before {
    content: "\f027";
}

.chi-volume-up:before {
    content: "\f028";
}

.chi-qrcode:before {
    content: "\f029";
}

.chi-barcode:before {
    content: "\f02a";
}

.chi-tag:before {
    content: "\f02b";
}

.chi-tags:before {
    content: "\f02c";
}

.chi-book:before {
    content: "\f02d";
}

.chi-bookmark:before {
    content: "\f02e";
}

.chi-print:before {
    content: "\f02f";
}

.chi-camera:before {
    content: "\f030";
}

.chi-font:before {
    content: "\f031";
}

.chi-bold:before {
    content: "\f032";
}

.chi-italic:before {
    content: "\f033";
}

.chi-text-height:before {
    content: "\f034";
}

.chi-text-width:before {
    content: "\f035";
}

.chi-align-left:before {
    content: "\f036";
}

.chi-align-center:before {
    content: "\f037";
}

.chi-align-right:before {
    content: "\f038";
}

.chi-align-justify:before {
    content: "\f039";
}

.chi-list:before {
    content: "\f03a";
}

.chi-dedent:before,
.chi-outdent:before {
    content: "\f03b";
}

.chi-indent:before {
    content: "\f03c";
}

.chi-video-camera:before {
    content: "\f03d";
}

.chi-photo:before,
.chi-image:before,
.chi-picture-o:before {
    content: "\f03e";
}

.chi-pencil:before {
    content: "\f040";
}

.chi-map-marker:before {
    content: "\f041";
}

.chi-adjust:before {
    content: "\f042";
}

.chi-tint:before {
    content: "\f043";
}

.chi-edit:before,
.chi-pencil-square-o:before {
    content: "\f044";
}

.chi-share-square-o:before {
    content: "\f045";
}

.chi-check-square-o:before {
    content: "\f046";
}

.chi-arrows:before {
    content: "\f047";
}

.chi-step-backward:before {
    content: "\f048";
}

.chi-chist-backward:before {
    content: "\f049";
}

.chi-backward:before {
    content: "\f04a";
}

.chi-play:before {
    content: "\f04b";
}

.chi-pause:before {
    content: "\f04c";
}

.chi-stop:before {
    content: "\f04d";
}

.chi-forward:before {
    content: "\f04e";
}

.chi-chist-forward:before {
    content: "\f050";
}

.chi-step-forward:before {
    content: "\f051";
}

.chi-eject:before {
    content: "\f052";
}

.chi-chevron-left:before {
    content: "\f053";
}

.chi-chevron-right:before {
    content: "\f054";
}

.chi-plus-circle:before {
    content: "\f055";
}

.chi-minus-circle:before {
    content: "\f056";
}

.chi-times-circle:before {
    content: "\f057";
}

.chi-check-circle:before {
    content: "\f058";
}

.chi-question-circle:before {
    content: "\f059";
}

.chi-info-circle:before {
    content: "\f05a";
}

.chi-crosshairs:before {
    content: "\f05b";
}

.chi-times-circle-o:before {
    content: "\f05c";
}

.chi-check-circle-o:before {
    content: "\f05d";
}

.chi-ban:before {
    content: "\f05e";
}

.chi-arrow-left:before {
    content: "\f060";
}

.chi-arrow-right:before {
    content: "\f061";
}

.chi-arrow-up:before {
    content: "\f062";
}

.chi-arrow-down:before {
    content: "\f063";
}

.chi-mail-forward:before,
.chi-share:before {
    content: "\f064";
}

.chi-expand:before {
    content: "\f065";
}

.chi-compress:before {
    content: "\f066";
}

.chi-plus:before {
    content: "\f067";
}

.chi-minus:before {
    content: "\f068";
}

.chi-asterisk:before {
    content: "\f069";
}

.chi-exclamation-circle:before {
    content: "\f06a";
}

.chi-gift:before {
    content: "\f06b";
}

.chi-leaf:before {
    content: "\f06c";
}

.chi-fire:before {
    content: "\f06d";
}

.chi-eye:before {
    content: "\f06e";
}

.chi-eye-slash:before {
    content: "\f070";
}

.chi-warning:before,
.chi-exclamation-triangle:before {
    content: "\f071";
}

.chi-plane:before {
    content: "\f072";
}

.chi-calendar:before {
    content: "\f073";
}

.chi-random:before {
    content: "\f074";
}

.chi-comment:before {
    content: "\f075";
}

.chi-magnet:before {
    content: "\f076";
}

.chi-chevron-up:before {
    content: "\f077";
}

.chi-chevron-down:before {
    content: "\f078";
}

.chi-retweet:before {
    content: "\f079";
}

.chi-shopping-cart:before {
    content: "\f07a";
}

.chi-folder:before {
    content: "\f07b";
}

.chi-folder-open:before {
    content: "\f07c";
}

.chi-arrows-v:before {
    content: "\f07d";
}

.chi-arrows-h:before {
    content: "\f07e";
}

.chi-bar-chart-o:before,
.chi-bar-chart:before {
    content: "\f080";
}

.chi-twitter-square:before {
    content: "\f081";
}

.chi-chicebook-square:before {
    content: "\f082";
}

.chi-camera-retro:before {
    content: "\f083";
}

.chi-key:before {
    content: "\f084";
}

.chi-gears:before,
.chi-cogs:before {
    content: "\f085";
}

.chi-comments:before {
    content: "\f086";
}

.chi-thumbs-o-up:before {
    content: "\f087";
}

.chi-thumbs-o-down:before {
    content: "\f088";
}

.chi-star-half:before {
    content: "\f089";
}

.chi-heart-o:before {
    content: "\f08a";
}

.chi-sign-out:before {
    content: "\f08b";
}

.chi-linkedin-square:before {
    content: "\f08c";
}

.chi-thumb-tack:before {
    content: "\f08d";
}

.chi-external-link:before {
    content: "\f08e";
}

.chi-sign-in:before {
    content: "\f090";
}

.chi-trophy:before {
    content: "\f091";
}

.chi-github-square:before {
    content: "\f092";
}

.chi-upload:before {
    content: "\f093";
}

.chi-lemon-o:before {
    content: "\f094";
}

.chi-phone:before {
    content: "\f095";
}

.chi-square-o:before {
    content: "\f096";
}

.chi-bookmark-o:before {
    content: "\f097";
}

.chi-phone-square:before {
    content: "\f098";
}

.chi-twitter:before {
    content: "\f099";
}

.chi-chicebook-f:before,
.chi-chicebook:before {
    content: "\f09a";
}

.chi-github:before {
    content: "\f09b";
}

.chi-unlock:before {
    content: "\f09c";
}

.chi-credit-card:before {
    content: "\f09d";
}

.chi-feed:before,
.chi-rss:before {
    content: "\f09e";
}

.chi-hdd-o:before {
    content: "\f0a0";
}

.chi-bullhorn:before {
    content: "\f0a1";
}

.chi-bell:before {
    content: "\f0f3";
}

.chi-certificate:before {
    content: "\f0a3";
}

.chi-hand-o-right:before {
    content: "\f0a4";
}

.chi-hand-o-left:before {
    content: "\f0a5";
}

.chi-hand-o-up:before {
    content: "\f0a6";
}

.chi-hand-o-down:before {
    content: "\f0a7";
}

.chi-arrow-circle-left:before {
    content: "\f0a8";
}

.chi-arrow-circle-right:before {
    content: "\f0a9";
}

.chi-arrow-circle-up:before {
    content: "\f0aa";
}

.chi-arrow-circle-down:before {
    content: "\f0ab";
}

.chi-globe:before {
    content: "\f0ac";
}

.chi-wrench:before {
    content: "\f0ad";
}

.chi-tasks:before {
    content: "\f0ae";
}

.chi-filter:before {
    content: "\f0b0";
}

.chi-briefcase:before {
    content: "\f0b1";
}

.chi-arrows-alt:before {
    content: "\f0b2";
}

.chi-group:before,
.chi-users:before {
    content: "\f0c0";
}

.chi-chain:before,
.chi-link:before {
    content: "\f0c1";
}

.chi-cloud:before {
    content: "\f0c2";
}

.chi-flask:before {
    content: "\f0c3";
}

.chi-cut:before,
.chi-scissors:before {
    content: "\f0c4";
}

.chi-copy:before,
.chi-files-o:before {
    content: "\f0c5";
}

.chi-paperclip:before {
    content: "\f0c6";
}

.chi-save:before,
.chi-floppy-o:before {
    content: "\f0c7";
}

.chi-square:before {
    content: "\f0c8";
}

.chi-navicon:before,
.chi-reorder:before,
.chi-bars:before {
    content: "\f0c9";
}

.chi-list-ul:before {
    content: "\f0ca";
}

.chi-list-ol:before {
    content: "\f0cb";
}

.chi-strikethrough:before {
    content: "\f0cc";
}

.chi-underline:before {
    content: "\f0cd";
}

.chi-table:before {
    content: "\f0ce";
}

.chi-magic:before {
    content: "\f0d0";
}

.chi-truck:before {
    content: "\f0d1";
}

.chi-pinterest:before {
    content: "\f0d2";
}

.chi-pinterest-square:before {
    content: "\f0d3";
}

.chi-google-plus-square:before {
    content: "\f0d4";
}

.chi-google-plus:before {
    content: "\f0d5";
}

.chi-money:before {
    content: "\f0d6";
}

.chi-caret-down:before {
    content: "\f0d7";
}

.chi-caret-up:before {
    content: "\f0d8";
}

.chi-caret-left:before {
    content: "\f0d9";
}

.chi-caret-right:before {
    content: "\f0da";
}

.chi-columns:before {
    content: "\f0db";
}

.chi-unsorted:before,
.chi-sort:before {
    content: "\f0dc";
}

.chi-sort-down:before,
.chi-sort-desc:before {
    content: "\f0dd";
}

.chi-sort-up:before,
.chi-sort-asc:before {
    content: "\f0de";
}

.chi-envelope:before {
    content: "\f0e0";
}

.chi-linkedin:before {
    content: "\f0e1";
}

.chi-rotate-left:before,
.chi-undo:before {
    content: "\f0e2";
}

.chi-legal:before,
.chi-gavel:before {
    content: "\f0e3";
}

.chi-dashboard:before,
.chi-tachometer:before {
    content: "\f0e4";
}

.chi-comment-o:before {
    content: "\f0e5";
}

.chi-comments-o:before {
    content: "\f0e6";
}

.chi-flash:before,
.chi-bolt:before {
    content: "\f0e7";
}

.chi-sitemap:before {
    content: "\f0e8";
}

.chi-umbrella:before {
    content: "\f0e9";
}

.chi-paste:before,
.chi-clipboard:before {
    content: "\f0ea";
}

.chi-lightbulb-o:before {
    content: "\f0eb";
}

.chi-exchange:before {
    content: "\f0ec";
}

.chi-cloud-download:before {
    content: "\f0ed";
}

.chi-cloud-upload:before {
    content: "\f0ee";
}

.chi-user-md:before {
    content: "\f0f0";
}

.chi-stethoscope:before {
    content: "\f0f1";
}

.chi-suitcase:before {
    content: "\f0f2";
}

.chi-bell-o:before {
    content: "\f0a2";
}

.chi-coffee:before {
    content: "\f0f4";
}

.chi-cutlery:before {
    content: "\f0f5";
}

.chi-file-text-o:before {
    content: "\f0f6";
}

.chi-building-o:before {
    content: "\f0f7";
}

.chi-hospital-o:before {
    content: "\f0f8";
}

.chi-ambulance:before {
    content: "\f0f9";
}

.chi-medkit:before {
    content: "\f0chi";
}

.chi-fighter-jet:before {
    content: "\f0fb";
}

.chi-beer:before {
    content: "\f0fc";
}

.chi-h-square:before {
    content: "\f0fd";
}

.chi-plus-square:before {
    content: "\f0fe";
}

.chi-angle-double-left:before {
    content: "\f100";
}

.chi-angle-double-right:before {
    content: "\f101";
}

.chi-angle-double-up:before {
    content: "\f102";
}

.chi-angle-double-down:before {
    content: "\f103";
}

.chi-angle-left:before {
    content: "\f104";
}

.chi-angle-right:before {
    content: "\f105";
}

.chi-angle-up:before {
    content: "\f106";
}

.chi-angle-down:before {
    content: "\f107";
}

.chi-desktop:before {
    content: "\f108";
}

.chi-laptop:before {
    content: "\f109";
}

.chi-tablet:before {
    content: "\f10a";
}

.chi-mobile-phone:before,
.chi-mobile:before {
    content: "\f10b";
}

.chi-circle-o:before {
    content: "\f10c";
}

.chi-quote-left:before {
    content: "\f10d";
}

.chi-quote-right:before {
    content: "\f10e";
}

.chi-spinner:before {
    content: "\f110";
}

.chi-circle:before {
    content: "\f111";
}

.chi-mail-reply:before,
.chi-reply:before {
    content: "\f112";
}

.chi-github-alt:before {
    content: "\f113";
}

.chi-folder-o:before {
    content: "\f114";
}

.chi-folder-open-o:before {
    content: "\f115";
}

.chi-smile-o:before {
    content: "\f118";
}

.chi-frown-o:before {
    content: "\f119";
}

.chi-meh-o:before {
    content: "\f11a";
}

.chi-gamepad:before {
    content: "\f11b";
}

.chi-keyboard-o:before {
    content: "\f11c";
}

.chi-flag-o:before {
    content: "\f11d";
}

.chi-flag-checkered:before {
    content: "\f11e";
}

.chi-terminal:before {
    content: "\f120";
}

.chi-code:before {
    content: "\f121";
}

.chi-mail-reply-all:before,
.chi-reply-all:before {
    content: "\f122";
}

.chi-star-half-empty:before,
.chi-star-half-full:before,
.chi-star-half-o:before {
    content: "\f123";
}

.chi-location-arrow:before {
    content: "\f124";
}

.chi-crop:before {
    content: "\f125";
}

.chi-code-fork:before {
    content: "\f126";
}

.chi-unlink:before,
.chi-chain-broken:before {
    content: "\f127";
}

.chi-question:before {
    content: "\f128";
}

.chi-info:before {
    content: "\f129";
}

.chi-exclamation:before {
    content: "\f12a";
}

.chi-superscript:before {
    content: "\f12b";
}

.chi-subscript:before {
    content: "\f12c";
}

.chi-eraser:before {
    content: "\f12d";
}

.chi-puzzle-piece:before {
    content: "\f12e";
}

.chi-microphone:before {
    content: "\f130";
}

.chi-microphone-slash:before {
    content: "\f131";
}

.chi-shield:before {
    content: "\f132";
}

.chi-calendar-o:before {
    content: "\f133";
}

.chi-fire-extinguisher:before {
    content: "\f134";
}

.chi-rocket:before {
    content: "\f135";
}

.chi-maxcdn:before {
    content: "\f136";
}

.chi-chevron-circle-left:before {
    content: "\f137";
}

.chi-chevron-circle-right:before {
    content: "\f138";
}

.chi-chevron-circle-up:before {
    content: "\f139";
}

.chi-chevron-circle-down:before {
    content: "\f13a";
}

.chi-html5:before {
    content: "\f13b";
}

.chi-css3:before {
    content: "\f13c";
}

.chi-anchor:before {
    content: "\f13d";
}

.chi-unlock-alt:before {
    content: "\f13e";
}

.chi-bullseye:before {
    content: "\f140";
}

.chi-ellipsis-h:before {
    content: "\f141";
}

.chi-ellipsis-v:before {
    content: "\f142";
}

.chi-rss-square:before {
    content: "\f143";
}

.chi-play-circle:before {
    content: "\f144";
}

.chi-ticket:before {
    content: "\f145";
}

.chi-minus-square:before {
    content: "\f146";
}

.chi-minus-square-o:before {
    content: "\f147";
}

.chi-level-up:before {
    content: "\f148";
}

.chi-level-down:before {
    content: "\f149";
}

.chi-check-square:before {
    content: "\f14a";
}

.chi-pencil-square:before {
    content: "\f14b";
}

.chi-external-link-square:before {
    content: "\f14c";
}

.chi-share-square:before {
    content: "\f14d";
}

.chi-compass:before {
    content: "\f14e";
}

.chi-toggle-down:before,
.chi-caret-square-o-down:before {
    content: "\f150";
}

.chi-toggle-up:before,
.chi-caret-square-o-up:before {
    content: "\f151";
}

.chi-toggle-right:before,
.chi-caret-square-o-right:before {
    content: "\f152";
}

.chi-euro:before,
.chi-eur:before {
    content: "\f153";
}

.chi-gbp:before {
    content: "\f154";
}

.chi-dollar:before,
.chi-usd:before {
    content: "\f155";
}

.chi-rupee:before,
.chi-inr:before {
    content: "\f156";
}

.chi-cny:before,
.chi-rmb:before,
.chi-yen:before,
.chi-jpy:before {
    content: "\f157";
}

.chi-ruble:before,
.chi-rouble:before,
.chi-rub:before {
    content: "\f158";
}

.chi-won:before,
.chi-krw:before {
    content: "\f159";
}

.chi-bitcoin:before,
.chi-btc:before {
    content: "\f15a";
}

.chi-file:before {
    content: "\f15b";
}

.chi-file-text:before {
    content: "\f15c";
}

.chi-sort-alpha-asc:before {
    content: "\f15d";
}

.chi-sort-alpha-desc:before {
    content: "\f15e";
}

.chi-sort-amount-asc:before {
    content: "\f160";
}

.chi-sort-amount-desc:before {
    content: "\f161";
}

.chi-sort-numeric-asc:before {
    content: "\f162";
}

.chi-sort-numeric-desc:before {
    content: "\f163";
}

.chi-thumbs-up:before {
    content: "\f164";
}

.chi-thumbs-down:before {
    content: "\f165";
}

.chi-youtube-square:before {
    content: "\f166";
}

.chi-youtube:before {
    content: "\f167";
}

.chi-xing:before {
    content: "\f168";
}

.chi-xing-square:before {
    content: "\f169";
}

.chi-youtube-play:before {
    content: "\f16a";
}

.chi-dropbox:before {
    content: "\f16b";
}

.chi-stack-overflow:before {
    content: "\f16c";
}

.chi-instagram:before {
    content: "\f16d";
}

.chi-flickr:before {
    content: "\f16e";
}

.chi-adn:before {
    content: "\f170";
}

.chi-bitbucket:before {
    content: "\f171";
}

.chi-bitbucket-square:before {
    content: "\f172";
}

.chi-tumblr:before {
    content: "\f173";
}

.chi-tumblr-square:before {
    content: "\f174";
}

.chi-long-arrow-down:before {
    content: "\f175";
}

.chi-long-arrow-up:before {
    content: "\f176";
}

.chi-long-arrow-left:before {
    content: "\f177";
}

.chi-long-arrow-right:before {
    content: "\f178";
}

.chi-apple:before {
    content: "\f179";
}

.chi-windows:before {
    content: "\f17a";
}

.chi-android:before {
    content: "\f17b";
}

.chi-linux:before {
    content: "\f17c";
}

.chi-dribbble:before {
    content: "\f17d";
}

.chi-skype:before {
    content: "\f17e";
}

.chi-foursquare:before {
    content: "\f180";
}

.chi-trello:before {
    content: "\f181";
}

.chi-female:before {
    content: "\f182";
}

.chi-male:before {
    content: "\f183";
}

.chi-gittip:before,
.chi-gratipay:before {
    content: "\f184";
}

.chi-sun-o:before {
    content: "\f185";
}

.chi-moon-o:before {
    content: "\f186";
}

.chi-archive:before {
    content: "\f187";
}

.chi-bug:before {
    content: "\f188";
}

.chi-vk:before {
    content: "\f189";
}

.chi-weibo:before {
    content: "\f18a";
}

.chi-renren:before {
    content: "\f18b";
}

.chi-pagelines:before {
    content: "\f18c";
}

.chi-stack-exchange:before {
    content: "\f18d";
}

.chi-arrow-circle-o-right:before {
    content: "\f18e";
}

.chi-arrow-circle-o-left:before {
    content: "\f190";
}

.chi-toggle-left:before,
.chi-caret-square-o-left:before {
    content: "\f191";
}

.chi-dot-circle-o:before {
    content: "\f192";
}

.chi-wheelchair:before {
    content: "\f193";
}

.chi-vimeo-square:before {
    content: "\f194";
}

.chi-turkish-lira:before,
.chi-try:before {
    content: "\f195";
}

.chi-plus-square-o:before {
    content: "\f196";
}

.chi-space-shuttle:before {
    content: "\f197";
}

.chi-slack:before {
    content: "\f198";
}

.chi-envelope-square:before {
    content: "\f199";
}

.chi-wordpress:before {
    content: "\f19a";
}

.chi-openid:before {
    content: "\f19b";
}

.chi-institution:before,
.chi-bank:before,
.chi-university:before {
    content: "\f19c";
}

.chi-mortar-board:before,
.chi-graduation-cap:before {
    content: "\f19d";
}

.chi-yahoo:before {
    content: "\f19e";
}

.chi-google:before {
    content: "\f1a0";
}

.chi-reddit:before {
    content: "\f1a1";
}

.chi-reddit-square:before {
    content: "\f1a2";
}

.chi-stumbleupon-circle:before {
    content: "\f1a3";
}

.chi-stumbleupon:before {
    content: "\f1a4";
}

.chi-delicious:before {
    content: "\f1a5";
}

.chi-digg:before {
    content: "\f1a6";
}

.chi-pied-piper-pp:before {
    content: "\f1a7";
}

.chi-pied-piper-alt:before {
    content: "\f1a8";
}

.chi-drupal:before {
    content: "\f1a9";
}

.chi-joomla:before {
    content: "\f1aa";
}

.chi-language:before {
    content: "\f1ab";
}

.chi-chix:before {
    content: "\f1ac";
}

.chi-building:before {
    content: "\f1ad";
}

.chi-child:before {
    content: "\f1ae";
}

.chi-paw:before {
    content: "\f1b0";
}

.chi-spoon:before {
    content: "\f1b1";
}

.chi-cube:before {
    content: "\f1b2";
}

.chi-cubes:before {
    content: "\f1b3";
}

.chi-behance:before {
    content: "\f1b4";
}

.chi-behance-square:before {
    content: "\f1b5";
}

.chi-steam:before {
    content: "\f1b6";
}

.chi-steam-square:before {
    content: "\f1b7";
}

.chi-recycle:before {
    content: "\f1b8";
}

.chi-automobile:before,
.chi-car:before {
    content: "\f1b9";
}

.chi-cab:before,
.chi-taxi:before {
    content: "\f1ba";
}

.chi-tree:before {
    content: "\f1bb";
}

.chi-spotify:before {
    content: "\f1bc";
}

.chi-deviantart:before {
    content: "\f1bd";
}

.chi-soundcloud:before {
    content: "\f1be";
}

.chi-database:before {
    content: "\f1c0";
}

.chi-file-pdf-o:before {
    content: "\f1c1";
}

.chi-file-word-o:before {
    content: "\f1c2";
}

.chi-file-excel-o:before {
    content: "\f1c3";
}

.chi-file-powerpoint-o:before {
    content: "\f1c4";
}

.chi-file-photo-o:before,
.chi-file-picture-o:before,
.chi-file-image-o:before {
    content: "\f1c5";
}

.chi-file-zip-o:before,
.chi-file-archive-o:before {
    content: "\f1c6";
}

.chi-file-sound-o:before,
.chi-file-audio-o:before {
    content: "\f1c7";
}

.chi-file-movie-o:before,
.chi-file-video-o:before {
    content: "\f1c8";
}

.chi-file-code-o:before {
    content: "\f1c9";
}

.chi-vine:before {
    content: "\f1ca";
}

.chi-codepen:before {
    content: "\f1cb";
}

.chi-jsfiddle:before {
    content: "\f1cc";
}

.chi-life-bouy:before,
.chi-life-buoy:before,
.chi-life-saver:before,
.chi-support:before,
.chi-life-ring:before {
    content: "\f1cd";
}

.chi-circle-o-notch:before {
    content: "\f1ce";
}

.chi-ra:before,
.chi-resistance:before,
.chi-rebel:before {
    content: "\f1d0";
}

.chi-ge:before,
.chi-empire:before {
    content: "\f1d1";
}

.chi-git-square:before {
    content: "\f1d2";
}

.chi-git:before {
    content: "\f1d3";
}

.chi-y-combinator-square:before,
.chi-yc-square:before,
.chi-hacker-news:before {
    content: "\f1d4";
}

.chi-tencent-weibo:before {
    content: "\f1d5";
}

.chi-qq:before {
    content: "\f1d6";
}

.chi-wechat:before,
.chi-weixin:before {
    content: "\f1d7";
}

.chi-send:before,
.chi-paper-plane:before {
    content: "\f1d8";
}

.chi-send-o:before,
.chi-paper-plane-o:before {
    content: "\f1d9";
}

.chi-history:before {
    content: "\f1da";
}

.chi-circle-thin:before {
    content: "\f1db";
}

.chi-header:before {
    content: "\f1dc";
}

.chi-paragraph:before {
    content: "\f1dd";
}

.chi-sliders:before {
    content: "\f1de";
}

.chi-share-alt:before {
    content: "\f1e0";
}

.chi-share-alt-square:before {
    content: "\f1e1";
}

.chi-bomb:before {
    content: "\f1e2";
}

.chi-soccer-ball-o:before,
.chi-futbol-o:before {
    content: "\f1e3";
}

.chi-tty:before {
    content: "\f1e4";
}

.chi-binoculars:before {
    content: "\f1e5";
}

.chi-plug:before {
    content: "\f1e6";
}

.chi-slideshare:before {
    content: "\f1e7";
}

.chi-twitch:before {
    content: "\f1e8";
}

.chi-yelp:before {
    content: "\f1e9";
}

.chi-newspaper-o:before {
    content: "\f1ea";
}

.chi-wifi:before {
    content: "\f1eb";
}

.chi-calculator:before {
    content: "\f1ec";
}

.chi-paypal:before {
    content: "\f1ed";
}

.chi-google-wallet:before {
    content: "\f1ee";
}

.chi-cc-visa:before {
    content: "\f1f0";
}

.chi-cc-mastercard:before {
    content: "\f1f1";
}

.chi-cc-discover:before {
    content: "\f1f2";
}

.chi-cc-amex:before {
    content: "\f1f3";
}

.chi-cc-paypal:before {
    content: "\f1f4";
}

.chi-cc-stripe:before {
    content: "\f1f5";
}

.chi-bell-slash:before {
    content: "\f1f6";
}

.chi-bell-slash-o:before {
    content: "\f1f7";
}

.chi-trash:before {
    content: "\f1f8";
}

.chi-copyright:before {
    content: "\f1f9";
}

.chi-at:before {
    content: "\f1chi";
}

.chi-eyedropper:before {
    content: "\f1fb";
}

.chi-paint-brush:before {
    content: "\f1fc";
}

.chi-birthday-cake:before {
    content: "\f1fd";
}

.chi-area-chart:before {
    content: "\f1fe";
}

.chi-pie-chart:before {
    content: "\f200";
}

.chi-line-chart:before {
    content: "\f201";
}

.chi-lastfm:before {
    content: "\f202";
}

.chi-lastfm-square:before {
    content: "\f203";
}

.chi-toggle-off:before {
    content: "\f204";
}

.chi-toggle-on:before {
    content: "\f205";
}

.chi-bicycle:before {
    content: "\f206";
}

.chi-bus:before {
    content: "\f207";
}

.chi-ioxhost:before {
    content: "\f208";
}

.chi-angellist:before {
    content: "\f209";
}

.chi-cc:before {
    content: "\f20a";
}

.chi-shekel:before,
.chi-sheqel:before,
.chi-ils:before {
    content: "\f20b";
}

.chi-meanpath:before {
    content: "\f20c";
}

.chi-buysellads:before {
    content: "\f20d";
}

.chi-connectdevelop:before {
    content: "\f20e";
}

.chi-dashcube:before {
    content: "\f210";
}

.chi-forumbee:before {
    content: "\f211";
}

.chi-leanpub:before {
    content: "\f212";
}

.chi-sellsy:before {
    content: "\f213";
}

.chi-shirtsinbulk:before {
    content: "\f214";
}

.chi-simplybuilt:before {
    content: "\f215";
}

.chi-skyatlas:before {
    content: "\f216";
}

.chi-cart-plus:before {
    content: "\f217";
}

.chi-cart-arrow-down:before {
    content: "\f218";
}

.chi-diamond:before {
    content: "\f219";
}

.chi-ship:before {
    content: "\f21a";
}

.chi-user-secret:before {
    content: "\f21b";
}

.chi-motorcycle:before {
    content: "\f21c";
}

.chi-street-view:before {
    content: "\f21d";
}

.chi-heartbeat:before {
    content: "\f21e";
}

.chi-venus:before {
    content: "\f221";
}

.chi-mars:before {
    content: "\f222";
}

.chi-mercury:before {
    content: "\f223";
}

.chi-intersex:before,
.chi-transgender:before {
    content: "\f224";
}

.chi-transgender-alt:before {
    content: "\f225";
}

.chi-venus-double:before {
    content: "\f226";
}

.chi-mars-double:before {
    content: "\f227";
}

.chi-venus-mars:before {
    content: "\f228";
}

.chi-mars-stroke:before {
    content: "\f229";
}

.chi-mars-stroke-v:before {
    content: "\f22a";
}

.chi-mars-stroke-h:before {
    content: "\f22b";
}

.chi-neuter:before {
    content: "\f22c";
}

.chi-genderless:before {
    content: "\f22d";
}

.chi-chicebook-official:before {
    content: "\f230";
}

.chi-pinterest-p:before {
    content: "\f231";
}

.chi-whatsapp:before {
    content: "\f232";
}

.chi-server:before {
    content: "\f233";
}

.chi-user-plus:before {
    content: "\f234";
}

.chi-user-times:before {
    content: "\f235";
}

.chi-hotel:before,
.chi-bed:before {
    content: "\f236";
}

.chi-viacoin:before {
    content: "\f237";
}

.chi-train:before {
    content: "\f238";
}

.chi-subway:before {
    content: "\f239";
}

.chi-medium:before {
    content: "\f23a";
}

.chi-yc:before,
.chi-y-combinator:before {
    content: "\f23b";
}

.chi-optin-monster:before {
    content: "\f23c";
}

.chi-opencart:before {
    content: "\f23d";
}

.chi-expeditedssl:before {
    content: "\f23e";
}

.chi-battery-4:before,
.chi-battery:before,
.chi-battery-full:before {
    content: "\f240";
}

.chi-battery-3:before,
.chi-battery-three-quarters:before {
    content: "\f241";
}

.chi-battery-2:before,
.chi-battery-half:before {
    content: "\f242";
}

.chi-battery-1:before,
.chi-battery-quarter:before {
    content: "\f243";
}

.chi-battery-0:before,
.chi-battery-empty:before {
    content: "\f244";
}

.chi-mouse-pointer:before {
    content: "\f245";
}

.chi-i-cursor:before {
    content: "\f246";
}

.chi-object-group:before {
    content: "\f247";
}

.chi-object-ungroup:before {
    content: "\f248";
}

.chi-sticky-note:before {
    content: "\f249";
}

.chi-sticky-note-o:before {
    content: "\f24a";
}

.chi-cc-jcb:before {
    content: "\f24b";
}

.chi-cc-diners-club:before {
    content: "\f24c";
}

.chi-clone:before {
    content: "\f24d";
}

.chi-balance-scale:before {
    content: "\f24e";
}

.chi-hourglass-o:before {
    content: "\f250";
}

.chi-hourglass-1:before,
.chi-hourglass-start:before {
    content: "\f251";
}

.chi-hourglass-2:before,
.chi-hourglass-half:before {
    content: "\f252";
}

.chi-hourglass-3:before,
.chi-hourglass-end:before {
    content: "\f253";
}

.chi-hourglass:before {
    content: "\f254";
}

.chi-hand-grab-o:before,
.chi-hand-rock-o:before {
    content: "\f255";
}

.chi-hand-stop-o:before,
.chi-hand-paper-o:before {
    content: "\f256";
}

.chi-hand-scissors-o:before {
    content: "\f257";
}

.chi-hand-lizard-o:before {
    content: "\f258";
}

.chi-hand-spock-o:before {
    content: "\f259";
}

.chi-hand-pointer-o:before {
    content: "\f25a";
}

.chi-hand-peace-o:before {
    content: "\f25b";
}

.chi-trademark:before {
    content: "\f25c";
}

.chi-registered:before {
    content: "\f25d";
}

.chi-creative-commons:before {
    content: "\f25e";
}

.chi-gg:before {
    content: "\f260";
}

.chi-gg-circle:before {
    content: "\f261";
}

.chi-tripadvisor:before {
    content: "\f262";
}

.chi-odnoklassniki:before {
    content: "\f263";
}

.chi-odnoklassniki-square:before {
    content: "\f264";
}

.chi-get-pocket:before {
    content: "\f265";
}

.chi-wikipedia-w:before {
    content: "\f266";
}

.chi-sachiri:before {
    content: "\f267";
}

.chi-chrome:before {
    content: "\f268";
}

.chi-firefox:before {
    content: "\f269";
}

.chi-opera:before {
    content: "\f26a";
}

.chi-internet-explorer:before {
    content: "\f26b";
}

.chi-tv:before,
.chi-television:before {
    content: "\f26c";
}

.chi-contao:before {
    content: "\f26d";
}

.chi-500px:before {
    content: "\f26e";
}

.chi-amazon:before {
    content: "\f270";
}

.chi-calendar-plus-o:before {
    content: "\f271";
}

.chi-calendar-minus-o:before {
    content: "\f272";
}

.chi-calendar-times-o:before {
    content: "\f273";
}

.chi-calendar-check-o:before {
    content: "\f274";
}

.chi-industry:before {
    content: "\f275";
}

.chi-map-pin:before {
    content: "\f276";
}

.chi-map-signs:before {
    content: "\f277";
}

.chi-map-o:before {
    content: "\f278";
}

.chi-map:before {
    content: "\f279";
}

.chi-commenting:before {
    content: "\f27a";
}

.chi-commenting-o:before {
    content: "\f27b";
}

.chi-houzz:before {
    content: "\f27c";
}

.chi-vimeo:before {
    content: "\f27d";
}

.chi-black-tie:before {
    content: "\f27e";
}

.chi-fonticons:before {
    content: "\f280";
}

.chi-reddit-alien:before {
    content: "\f281";
}

.chi-edge:before {
    content: "\f282";
}

.chi-credit-card-alt:before {
    content: "\f283";
}

.chi-codiepie:before {
    content: "\f284";
}

.chi-modx:before {
    content: "\f285";
}

.chi-fort-awesome:before {
    content: "\f286";
}

.chi-usb:before {
    content: "\f287";
}

.chi-product-hunt:before {
    content: "\f288";
}

.chi-mixcloud:before {
    content: "\f289";
}

.chi-scribd:before {
    content: "\f28a";
}

.chi-pause-circle:before {
    content: "\f28b";
}

.chi-pause-circle-o:before {
    content: "\f28c";
}

.chi-stop-circle:before {
    content: "\f28d";
}

.chi-stop-circle-o:before {
    content: "\f28e";
}

.chi-shopping-bag:before {
    content: "\f290";
}

.chi-shopping-basket:before {
    content: "\f291";
}

.chi-hashtag:before {
    content: "\f292";
}

.chi-bluetooth:before {
    content: "\f293";
}

.chi-bluetooth-b:before {
    content: "\f294";
}

.chi-percent:before {
    content: "\f295";
}

.chi-gitlab:before {
    content: "\f296";
}

.chi-wpbeginner:before {
    content: "\f297";
}

.chi-wpforms:before {
    content: "\f298";
}

.chi-envira:before {
    content: "\f299";
}

.chi-universal-access:before {
    content: "\f29a";
}

.chi-wheelchair-alt:before {
    content: "\f29b";
}

.chi-question-circle-o:before {
    content: "\f29c";
}

.chi-blind:before {
    content: "\f29d";
}

.chi-audio-description:before {
    content: "\f29e";
}

.chi-volume-control-phone:before {
    content: "\f2a0";
}

.chi-braille:before {
    content: "\f2a1";
}

.chi-assistive-listening-systems:before {
    content: "\f2a2";
}

.chi-asl-interpreting:before,
.chi-american-sign-language-interpreting:before {
    content: "\f2a3";
}

.chi-deafness:before,
.chi-hard-of-hearing:before,
.chi-deaf:before {
    content: "\f2a4";
}

.chi-glide:before {
    content: "\f2a5";
}

.chi-glide-g:before {
    content: "\f2a6";
}

.chi-signing:before,
.chi-sign-language:before {
    content: "\f2a7";
}

.chi-low-vision:before {
    content: "\f2a8";
}

.chi-viadeo:before {
    content: "\f2a9";
}

.chi-viadeo-square:before {
    content: "\f2aa";
}

.chi-snapchat:before {
    content: "\f2ab";
}

.chi-snapchat-ghost:before {
    content: "\f2ac";
}

.chi-snapchat-square:before {
    content: "\f2ad";
}

.chi-pied-piper:before {
    content: "\f2ae";
}

.chi-first-order:before {
    content: "\f2b0";
}

.chi-yoast:before {
    content: "\f2b1";
}

.chi-themeisle:before {
    content: "\f2b2";
}

.chi-google-plus-circle:before,
.chi-google-plus-official:before {
    content: "\f2b3";
}

.chi-chi:before,
.chi-font-awesome:before {
    content: "\f2b4";
}

.chi-handshake-o:before {
    content: "\f2b5";
}

.chi-envelope-open:before {
    content: "\f2b6";
}

.chi-envelope-open-o:before {
    content: "\f2b7";
}

.chi-linode:before {
    content: "\f2b8";
}

.chi-address-book:before {
    content: "\f2b9";
}

.chi-address-book-o:before {
    content: "\f2ba";
}

.chi-vcard:before,
.chi-address-card:before {
    content: "\f2bb";
}

.chi-vcard-o:before,
.chi-address-card-o:before {
    content: "\f2bc";
}

.chi-user-circle:before {
    content: "\f2bd";
}

.chi-user-circle-o:before {
    content: "\f2be";
}

.chi-user-o:before {
    content: "\f2c0";
}

.chi-id-badge:before {
    content: "\f2c1";
}

.chi-drivers-license:before,
.chi-id-card:before {
    content: "\f2c2";
}

.chi-drivers-license-o:before,
.chi-id-card-o:before {
    content: "\f2c3";
}

.chi-quora:before {
    content: "\f2c4";
}

.chi-free-code-camp:before {
    content: "\f2c5";
}

.chi-telegram:before {
    content: "\f2c6";
}

.chi-thermometer-4:before,
.chi-thermometer:before,
.chi-thermometer-full:before {
    content: "\f2c7";
}

.chi-thermometer-3:before,
.chi-thermometer-three-quarters:before {
    content: "\f2c8";
}

.chi-thermometer-2:before,
.chi-thermometer-half:before {
    content: "\f2c9";
}

.chi-thermometer-1:before,
.chi-thermometer-quarter:before {
    content: "\f2ca";
}

.chi-thermometer-0:before,
.chi-thermometer-empty:before {
    content: "\f2cb";
}

.chi-shower:before {
    content: "\f2cc";
}

.chi-bathtub:before,
.chi-s15:before,
.chi-bath:before {
    content: "\f2cd";
}

.chi-podcast:before {
    content: "\f2ce";
}

.chi-window-maximize:before {
    content: "\f2d0";
}

.chi-window-minimize:before {
    content: "\f2d1";
}

.chi-window-restore:before {
    content: "\f2d2";
}

.chi-times-rectangle:before,
.chi-window-close:before {
    content: "\f2d3";
}

.chi-times-rectangle-o:before,
.chi-window-close-o:before {
    content: "\f2d4";
}

.chi-bandcamp:before {
    content: "\f2d5";
}

.chi-grav:before {
    content: "\f2d6";
}

.chi-etsy:before {
    content: "\f2d7";
}

.chi-imdb:before {
    content: "\f2d8";
}

.chi-ravelry:before {
    content: "\f2d9";
}

.chi-eercast:before {
    content: "\f2da";
}

.chi-microchip:before {
    content: "\f2db";
}

.chi-snowflake-o:before {
    content: "\f2dc";
}

.chi-superpowers:before {
    content: "\f2dd";
}

.chi-wpexplorer:before {
    content: "\f2de";
}

.chi-meetup:before {
    content: "\f2e0";
}