@font-face {
    font-family: 'hdzb';
    src: url('./HDZB_7.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.hdz {
    display: inline-block;
    font: normal normal normal 14px/1 hdzb;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}