@font-face {
    font-family: 'quadrantabold';
    src: url('./quadranta-bold-webfont.woff') format('woff'), url('./quadranta-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quadrantaregular';
    src: url('./quadranta-regular-webfont.woff') format('woff'), url('./quadranta-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.quaB {
    display: inline-block;
    font: normal normal normal 14px/1 quadrantabold;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.quaR {
    display: inline-block;
    font: normal normal normal 14px/1 quadrantaregular;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}